#employeeTable{
  display:flex;
  flex-direction:column;
}

th{
  background-color:#4c5864;
  color:white;
  padding:10px 5px;
  box-sizing: border-box;
}

.alpha{
  cursor:pointer;
}

tr:first-of-type{
  margin-bottom :10px;
}

tr th:first-of-type{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

tr th:last-of-type{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

table{
  width:90%;
  margin:0 auto;
  text-align:center;
}


